<!-- app.component.html -->
<div class="navbar w-100" [ngClass]="{ 'scrolled':  isScrolled, 'navbar-transparent':  isHomeComponent}" >
    <div class="menu-toggle" (click)="toggleMenu()" [ngClass]="{'text-black': isScrolled || !isHomeComponent}" >☰</div>
  
    <div class="logo-container" (click)="selectProductType('clothing')">
      <img class="logo" src="../assets/logo-st-black.png" alt="Tuniscape-Logo">
    <!--<img class="logo" [src]="isScrolled || !isHomeComponent ? '../assets/logo-st-black.png' : '../assets/logo-st-white.png' " alt="Tuniscape-Logo">-->
    </div>
      <div class="menu-overlay" [ngClass]="{'show-menu': isMenuOpen}" (click)="closeMenu()">
      <div class="menu" [ngClass]="{'show-menu': isMenuOpen, 'text-black': isScrolled}">
        <a (click)="selectProductType('clothing')" class="fw-bold" [ngClass]="{'text-black': isScrolled ||  !isHomeComponent}">Home</a>
        <a (click)="selectProductType('merch')" class="fw-bold" [ngClass]="{'text-black': isScrolled || !isHomeComponent}">Merch Collabs</a>
        <a (click)="selectProductType('accessories')" class="fw-bold" [ngClass]="{'text-black': isScrolled || !isHomeComponent}">Accessories</a>
        <!-- Add more menu items as needed -->
      </div>
    </div>
  
    <div class="cart-icon me-md-3">
      <a [routerLink]="['cart']"><img src="../assets/cart-black.png" alt="Shopping Cart"></a>
      <!--<a [routerLink]="['cart']"><img [src]="isScrolled || !isHomeComponent ? '../assets/cart-black.png' : '../assets/cart-white.png'" alt="Shopping Cart"></a>-->
      <div *ngIf="true" class="quantity-circle text-center"> {{ cartProductsQuantityNotif }} </div>
    </div>
  
</div>
  
  
  
  
    <!--
      <header>
      <nav>
        <div class="logo">Your Logo</div>
        <div class="menu-icon" (click)="toggleMenu()">&#9776;</div>
        <ul class="nav-list" [class.active]="isMenuOpen">
          <li><a href="#">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li class="cart-icon"><a href="#"><img src="../../../assets/cart.png" alt="Shopping Cart"></a></li>
        </ul>
      </nav>
    </header>
    -->