/*.sidebar {
    height: 100vh; 
    background-color: black;
    padding: 20px;
    
  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    display: block;
  }
  
  .nav-links a:hover {
    background-color: #e0e0e0;
    color: black;
  }
  
  .content {
    height: 100vh;
  }
*/








  

    
  .menu-toggle {
    padding: 10px;
    font-size: 24px;
    color: green;
    cursor: pointer;
  }


  .menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: #f0ede7;
    color: green;
    padding: 10px;
    text-align: center;
    transition: left 1s ease; /* Slide transition effect */
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5); /* Add box shadow for better visibility */
  
  }

  
  .menu a {
    color: green;
    text-decoration: none;
    padding: 10px;
    transition: 0.7s ease;
    cursor: pointer;
    
  }
  
  .menu a:hover {
    text-decoration: underline;
  }
  

  .menu-overlay {
    display: none; /* Initially hide the overlay */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    z-index: 1; /* Place the overlay under the menu */
  }

  .menu.show-menu {
    display: flex; /* Display the menu when the class is applied */
    left: 0px;
    transition: left 1s ease; /* Slide transition effect */
  }

  .menu-overlay.show-menu {
    display: block; /* Display the overlay when the menu is shown */
  }

  @media only screen and (max-width: 768px) {
  
    .menu {
      width: 55%;
    }
  
  }
  
