<div class="form-container">
    <form [formGroup]="productForm" (ngSubmit)="submitForm()" class="text-center">
        <div class="row">
            <div class="col-md-6">
                <label>Name:</label>
                <input type="text" formControlName="name" required>
          
            </div>
            <div class="col-md-6">
                <label>Type:</label>
                <select id="type" formControlName="type" required>
                    <option *ngFor="let type of productTypes" [value]="type">{{ type }}</option>
                </select>
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
                <label>Description:</label>
                <textarea cols="120" rows="10" formControlName="description">
                </textarea>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <label>Price:</label>
                <input type="number" formControlName="price" class="w-50" required>          
            </div>
        </div>
    
        <div class="row">
            <div class="col-12">
                <label>Quantity / Stock:</label>
                <div formGroupName="availableQuantity">
                    <div class="row">
                        <div class="col-md-2 col-6">
                            <label>XS</label>
                            <input type="number" formControlName="XS" placeholder="XS" required>
                        </div>
                        <div class="col-md-2 col-6">
                            <label>S</label>
                            <input type="number" formControlName="S" placeholder="S" required>
                        </div>
                        <div class="col-md-2 col-6">
                            <label>M</label>
                            <input type="number" formControlName="M" placeholder="M" required>
                        </div>
                        <div class="col-md-3 col-6">
                            <label>L</label>
                            <input type="number" formControlName="L" placeholder="L" required>
                        </div>
                        <div class="col-md-3 col-12">
                            <label>XL</label>
                            <input type="number" formControlName="XL" placeholder="XL" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
      
      <label>Images:</label>
      <input type="file" (change)="onFileChange($event)" multiple accept="image/*">
    
      <button type="submit" [disabled]="productForm.invalid">Submit</button>
    </form>
    
        <!-- Display existing images -->
        <div *ngIf="!isSelectedImages" class="row mb-5">

            <h2 class="col-12">Existing Images:</h2>
            <div *ngFor="let image of productForm.value.images.reverse()" class="col-2">
                <img class=" w-100" [src]="apiUrlGetImage + image" alt="Product Image">
            </div>
        </div>

        <!-- Display newly selected images -->
        <div *ngIf="selectedImages.length > 0" class="row mb-5">

            <h2 class="col-12">Newly Selected Images that will replace the existing images:</h2>
            <div *ngFor="let image of selectedImages.reverse()" class="col-2">
                <img class=" w-100" [src]="image" alt="Selected Product Image">
            </div>
        </div>


    
</div>